<% provide(:title, "About") %> 
<div class="card">
<h1>About Us</h1>
<p>
Story time is made by some dudes who really like choose your own adventures.
</p>
<hr/>
<h3>Release Notes</h3>
<h4>2013-06-11</h4>
<ul>
	<li>First badges implemented. Currently only badges for total words written, but more to come</li>
	<li>New story stats: standard deviation of ratings so you can tell how divided opinions are over your stories, and "popularity" which is a measure of weighted average rating (more ratings, to a point, is better), plus a time decay so that popular stories don't just stay at the top.</li>
	<li>User pages cleaned up and new user profile layout.</li>
	<li>Stories can now be sorted. Default is by popularity.</li>
	<li>Many and varied layout fixes.</li>
</ul>
<h4>2013-05-12</h4>
<ul>
	<li>Story graph can now be used for navigation; click on a node twice to be taken to that page.</li>
	<li>Added public activity feed to main page.</li>
	<li>Social media buttons (facebook and tumblr) added to story front pages.</li>
	<li>Admin features</li>
	<li>Comments and pages support simple gtalk-like markdown (_italics_ *bold*)</li>
	<li>New theme</li>
</ul>
<h4>2013-04-07</h4>
<ul>
	<li>Stories made public. Anyone can read these things! If they're published...</li>
	<li>New user signup fixed</li>
	<li>Links in story edit page help scroll between pages in large stories</li>
	<li>Many, many bug fixes..</li>
</ul>
</div>