<% provide(:title, "Help") %>
    <h1>Help</h1>
    <p>
     Go to Stories, "add a story", add some pages to that story. Read other peoples' too.
    </p>
    <p>
     Apart from that... you know, figure it out.
    </p>
