<li class="card user_card">
  <div class="thumb pull-left">
    <%=avatar_for(user, 52)%>
  </div>
  <h3><%= link_to user.name, user %></h3>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
  <div class="badge_ribbon">
  <% user.badges.each do |badge| %>
    <%= render partial: "badges/badge", locals: { badge: badge } %>
  <% end %>
  </div>
</li>