<% provide(:title, @page.title) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @page.title %>
      </h1>
    </section>
    <section>
    <%= @page.text %>
    </section>
    <section class="link_section">
    <ul>
    <%= render @page.links %>
    </ul>
    </section>
  </aside>
</div>

<% if (user_can_edit(@story)) %>
  <%= button_to "Edit", edit_story_page_path(@story,@page), class: "btn btn-medium btn-warning" %>
<% end %>