<% provide(:title, "New Story") %>
<h1>New Story</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@story) do |f| %>
      <%= render "fields", f: f %>
      <%= f.submit "Start Writing", class: "btn-square btn-blue" %>
    <% end %>
  </div>
</div>