<% provide(:title, @story.title) %>
<section>
  <h1><%= @story.title %></h1>
</section>
    
<div class="row">
  <div class="span6 offset3">
    <section style="text-align:center; margin-bottom:20px">
    <% if @story.image? %>
      <%= image_tag @story.image.url(:large) %>
    <% end %>
    </section>
    <p>
      <%= raw htmlify(@story.description) %>
    </p>  
 
  <div style="text-align:center">
        <%= link_to "Begin story", story_page_path(@story,@story.pages.find(:first, order: "id")), class:"btn btn-large btn-primary" %>
  </div>
   </div>
</div>