// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mini.recent_activity {
  margin: 4px;
  padding: 3px;
  border-bottom: 1px solid #eee;
}

#mini_feed {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 20px; 
}


/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    /*padding: 10px 0;*/
    border-top: 1px solid #e8e8e8;
  }
}