.span3:nth-child(4) {
  clear: left;
}

.page_thumbnail {
  padding: 10px !important;
}
#message_field {
	margin-bottom: 10px;
}
#type_list {
	margin-bottom: 20px;
}
.rating-well {
	margin-left:20px;
}
.youtube_embed {
	display:block;
	margin: 0 auto;
}