// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 a.atooltip {
  &:hover {
    color: black;
    background-color: white;
    cursor: default;
    text-decoration: none;
  }
  &:visited {
    color: black;
  }
 }
 
 #infovis {
  box-shadow: 2px 2px 5px rgba(0,0,0,.5);
  -webkit-box-shadow:  2px 2px 5px rgba(0,0,0,.5);
  -moz-box-shadow:  2px 2px 5px rgba(0,0,0,.5);
  border: 0.07em solid #E0E0E0;
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 20px;
 }

 
.story_box {
  margin:0px;
  overflow: hidden;
  min-height: 700px;
  p: {
    font-size: 1.2em;
  }
}

.card.story_card {
  width:100%;
}

.story_right {
  margin-left: 0px;
}

.story_box_left {
  float:left;
  height:100%;
  margin-left: 0px;
}

#new_story_button{
  margin:20px;
}

.story_author .thumb {
  margin-left: 35px;
}

.story_thumb {
  padding:0px;
  display: inline-block;
  margin-left: 5px;
  margin-top: 15px;
  height:100%;
}

.story_thumb img {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}

.story_button {
  margin-top:20px;
}

.page_placeholder {
  width: 2200px;
}

.page_inner {
  margin-right: 20px;
  position: relative;
  height: 100%;
  display: inline-block;
  float:right;
}
.page_inner.popped {
  float:none;
}