// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 /* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    border-top: 1px solid #ddd;
    &:last-child {
      border-bottom: 1px solid #ddd;
    }
  }
}

.user_card {
  display: list-item;
  padding: 10px !important;
  margin: 4px;
}

.user_card  .thumb {
  margin-right: 20px;
}

.user_business_card {
  position:absolute;
  left: 90px;
  top: 20px;
  vertical-align:middle;
  background: url(/assets/semi-black-bg.png) repeat;
  padding: 20px 25px;
  padding-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  hr {
    margin-top: 0px;
    height: 1px;
    border: 0;
    box-shadow: 
    0 1px 1px #fff, /*bottom external highlight*/
    0 -1px 1px #666, /*top external shadow*/ 
    inset 0 0px 0px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
    inset 0 0px 0px rgba(0,0,0,0.8); /*top internal highlight*/
  }
  h3 {
    margin-left: 10px;
    float: left;
  }
  img {
    border-radius: 3px;
    margin-bottom: 15px;
    /*border: solid 4px #fff;*/
    float: left;
    width: 80px;
  }
  .photo {
    margin-right: 10px;
    padding-right: 10px !important;
  }
  .story_count {
    float: left;
    margin-right: 20px;
    vertical-align: middle;
    height: 40px;
    .btn-round {
      margin: 5px;
      margin-top:-5px;
      padding-left:0px;
      padding-bottom: 0px;
      padding-top:0px;
    }
    display:inline-block;
  }
  .sash {
    margin-top: 20px;
    margin-left:0px;
  }
  .recent_activiy {
    float:left;
    padding-left: 10px;
  }
  small {
    cite {
      color: #ddd;
    }
  }
}

div.user_header {
  -webkit-border-top-left-radius: 3px !important;
  -webkit-border-top-right-radius: 3px !important;
  -moz-border-radius-topleft: 3px !important;
  -moz-border-radius-topright: 3px !important;
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
  height:330px;
  overflow: hidden;
  position: relative;
}

.profile_header {
  margin-top: 20px;
}