<div class="card card-wide">
<h1>Recent Activity</h1>

<%= grid(@activity) do |g|

  g.column name: 'Created', attribute: 'created_at' do |p|
    p.created_at.strftime("%Y-%m-%d")
  end

  g.column name: 'Last Updated', attribute: 'updated_at' do |p|
    p.updated_at.strftime("%Y-%m-%d")
  end

  g.column  name: 'User', attribute: 'name', model: User do |p|
    link_to p.story.user.name, user_path(p.story.user) 
  end

  g.column  name: 'Story', attribute: 'title', model: Story do |p|
    link_to p.story.title, edit_story_path(p.story) 
  end

  g.column  name: 'Page', attribute: 'title' do |p|
    link_to p.title, edit_story_page_path(p.story, p) 
  end

  g.column name: 'Content' do |p|
    p.text
  end

  g.column name: 'Wordcount' do |p|
    p.word_count
  end
end -%>
</div>